.disclaimer {
    border-collapse:collapse;
    width:100%;
    border: 1px solid red;
}

.left_table {
  border-collapse:collapse;
  width:300px;
  border: 1px solid red;
}

.right_table {
  border-collapse:collapse;
  width:100%;
  max-width:1000px;
  border: 1px solid red;
  
}

.td_title {
  color: blue;
  text-align: center;
  font-weight:bold;
  border: 2px solid red;
  width: 100%;
}

.buttons {
  text-align: center;
  width: 100%;
}

.buttons td {
  border: 1px solid;
}

.customers {
    border-collapse: collapse;
    width: 100%;
    max-width:1110px;
}

.customers th, .customers td {
    text-align: left;
    padding: 8px;
}

.customers tr:first-child td {
  /*background-color: #DEB887;*/
  background-color:#9CCBDB;
}
  
.customers tr:nth-child(even){background-color: #f2f2f2}

.customers tr:hover {background-color: #ddd;}

.customers th {
    background-color: #4CAF50;
    color: white;
}

.results {
    border-collapse: collapse;
    width: 100%;
    max-width:1110px;
}

.results th, .results td {
    text-align: left;
    padding: 8px;
}

.results tr.border_top td {
  /*background-color: #DEB887;*/
  border-top: 1px solid black;
  text-align: left;
  padding: 8px;
}

/*.results tr:first-child td {
  background-color: #DEB887;
  background-color:#9CCBDB;
}*/

.results tr:nth-child(odd){background-color: #f2f2f2}
 
.results tr.border_top:first-child td {
  /*background-color: #DEB887;*/
  background-color:"";
}


.results tr:hover {background-color: #ddd;}

.results th {
    background-color: #9CCBDB;
    /*color: white;*/
}

/*.customers {
    /font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td, .customers th {
    text-align: left;
    padding: 15px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    background-color: #4CAF50;
    color: white;
}
*/


.customers_disclaimer {
    border-collapse: collapse;
    width: 100%;
}


.h2 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}

/*
body {
    background-color: rgba(210,194,149,0.6);
    background-image: url("fermi_logo.svg");
    background-repeat: repeat-x;
}*/
